body {
    background-color: #3CB371;
}

button{
    width: 39px;
}

h1{
    color: #2F4F4F;
}

p{
    font-size: 22pt;
}

table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
}